ion-title {
    background-color: rgb(70, 68, 68);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    color: rgb(15, 14, 14);
    text-align: center;

}